{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load hitcount_tags %}
{% block title %}
    {% trans 'Home' %}
{% endblock %}
{% block content %}



<div class="d-flex flex-row align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            {% if card.user %}
            <div class="col-md-12 text-center">
                <h5 class="display-1">Testing Landing Page</h5>
                <h3>This is a test page for Card: <br>
                     <span class="text-success">{{ card }}</span>
                     <span class="text-success">{{ card.user }}</span>
                </h3>
                {% get_hit_count for card as hits %}
                Views: <small class="ms-3 color"><i class="fa-regular fa-eye"></i> {{ hits }}</small>
            </div>
            {% else %}
            <div class="col-md-12 text-center">
                <div class="col-md-12 text-center">
                    <h5 class="display-1">Register Your Card</h5>
                    {% if user.is_authenticated %}
                    <h3>You are logged in</h3>
                    <h3><a href="{% url 'cards:link_new_card' card.uuid %}" class="link-style">Link with your logged in account ?</a> | <a href="{% url 'users:logout' %}?uuid={{card.uuid}}" class="link-style">Log Me Out First</a></h3>
                    {% else %}
                    <h3>
                        <a href="{% url 'users:register' %}?uuid={{ card.uuid}}" class="link-style">Create New Account</a> | <a href="{% url 'users:login' %}?uuid={{card.uuid}}" class="link-style">Add to Existing Account</a>
                    </h3>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12 text-center">
                
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
