body {
    direction: ltr !important;
    text-align: left !important;
}

.dropdown-footer {
    display: none !important;
    visibility: hidden !important;
}

.djn-checkbox-select-all {
    padding-right: 130px !important;
    width: 0;
  }

